<div class="row">
         <div class="three columns">
            <img class="profile-pic"  src="app/img/profilepic.jpg" alt="" />
         </div>

         <div class="nine columns main-col">
            <h2>About Me</h2>
            {{{description}}}
            <h2>Contact Details</h2>
            {{{contact}}}
         </div> <!-- end .main-col -->
</div>
