
 <div class="row section-head">

    <div class="two columns header-col">

       <h1><span>Get In Touch.</span></h1>

    </div>

    <div class="ten columns">

          <p class="lead">
            If you would like to get in touch feel free to contact me on social media or at:
              <a href="mailto:peter@peterjwatters.com" target="_top">peter@peterjwatters.com</a>.
          </p>

    </div>

 </div>

<div class="row">

</div>
