<!-- Skills -->
<div class="three columns header-col">
   <h1><span>Skills</span></h1>
</div>

<div class="nine columns main-col">
{{#each this}}
   <p>{{content}}</p>
{{/each}}
</div> <!-- main-col end -->


<div class="bars">

   <ul class="skills">
	   <li><span class="bar-expand javascript"></span><em>Javascript</em></li>
	   <li><span class="bar-expand ember"></span><em>Ember</em></li>
     <li><span class="bar-expand ruby"></span><em>Ruby</em></li>
		 <li><span class="bar-expand wordpress"></span><em>Wordpress</em></li>
		 <li><span class="bar-expand css"></span><em>CSS</em></li>
		 <li><span class="bar-expand html5"></span><em>HTML5</em></li>
     <li><span class="bar-expand jquery"></span><em>jQuery</em></li>
     <li><span class="bar-expand backbone"></span><em>Backbone / Backbone-Marionette</em></li>
     <li><span class="bar-expand angular"></span><em>AngularJS</em></li>
     <li><span class="bar-expand python"></span><em>Python</em></li>
     <li><span class="bar-expand bash-scripting"></span><em>Bash Scripting</em></li>
     <li><span class="bar-expand mysql"></span><em>mySQL / DB's</em></li>
     <li><span class="bar-expand system-admin"></span><em>System Administration(Unix, Windows, OSX)</em></li>
	</ul>

</div><!-- end skill-bars -->
