
      <div class="row">

         <div class="twelve columns">

            <ul class="social social-links">
            </ul>

            <ul class="copyright">
               <li>&copy; Copyright 2016</li>
               <li>Design by <a title="Styleshout" href="http://www.styleshout.com/" target="_blank">Styleshout</a></li>
               <li>Developed by <a title="Peter Watters" href="http://www.peterjwatters.com/">Peter Watters</a></li>
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>
